#container {
    header {
        .avatar {
            display: flex;
            justify-content: center;
            margin-top: 17px;
            img {
                width: 100px;

                height: 100px;
                border-radius: 100px;
                object-fit: contain;
            }
        }
        .title-description {
            .title {
                h1 {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 2.3;
                    text-align: center;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                        "Open Sans", "Helvetica Neue", sans-serif;
                    color: #fff;
                }
            }
            .description {
                margin-top: -13px;
                margin-bottom: 16px;
                font-size: 18px;
                text-align: center;
                color: #fff;
                font-weight: 400;
                line-height: 1.5;

                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;

                p {
                    text-align: center;
                }
            }
        }
    }
    .cc {
        display: flex;
        justify-content: center;
    }
    .social-media {
        display: flex;
        justify-content: center;
        position: relative;
        top: 4px;
        button {
            background: #b973a6;
            color: #fff;
            width: 7rem;
            height: 3rem;
            font-size: 23px;
            border-color: #b973a6;
            border-radius: 12px;
        }
    }

    #card-section {
        display: flex;
        justify-content: center;
        .gene-card {
            margin-top: 10px;
            background-color: transparent;
            border: none;
            max-width: 100%;
        }
        .list-group {
            position: relative;
            top: 20px;
            .list-group-item {
                background-color: #343b76;
                border: none;
                box-shadow: none;
                .card {
                    max-width: 25rem !important;
                    border-radius: 6px;
                    border-color: #343b76;

                    img {
                        //    height: 20px;
                    }
                    .card-body {
                        margin-top: -25px;
                    }
                    .card-title {
                        font-size: 20px;
                        text-align: left;
                        line-height: 1.4;
                        margin-top: 30px;
                        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
                            "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
                            "Segoe UI Symbol";
                        font-weight: 600;
                    }
                }
            }
        }
        .general-card {
            position: relative;
            display: flex;
            margin-top: -20px;
        }

        .card-footer1 {
            display: flex;

            .btn-secon1 {
                margin-top: 4px;
                display: flex;
                justify-content: center;
                border-radius: 350px;
                height: 40px;
                background-color: #f31853;
                border: none;
                position: relative;
                left: 10px;

                i {
                    color: white;
                }
            }
            .btn-secon2 {
                margin-top: 4px;
                border-radius: 350px;
                height: 40px;
                background-color: #497dd5;
                border: none;
                position: relative;
                left: 2rem;
                i {
                    color: white;
                }
            }
            .article-number {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                font-weight: 400;
                font-size: 20px;
                position: relative;
                left: 20px;
                font-weight: bold;
                color: #019877;
            }
        }
        .card-footer {
            background-color: white;
            border: none;
        }

        .card-footer2 {
            color: white;
            background-color: #019877;
            width: 200px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            position: relative;
            top: 15px;
            font-weight: 600;
        }
    }
    .embed-responsive {
        margin-left: -1px;
        margin-top: -1px;
        iframe {
            height: 18rem;
        }
    }
}

#footer {
    position: relative;
    top: 30px;
    .card {
        background-color: #ecf3ff;
        .row {
            position: relative;
            top: 10px;
            display: flex;
            .right-side {
                display: flex;
                justify-content: end;
            }
            .im1 {
                width: 2rem;
                margin-left: 8px;
                border: 1px solid black;

                height: 50px;
                width: 50px;
                border-radius: 20px;
            }
            .im2 {
                width: 2rem;
                margin-left: 8px;
                border: 1px solid black;
                border-radius: 20px;
                height: 50px;
                width: 50px;
                margin-left: 24px;
            }
        }
    }
    .content {
        display: flex;
        justify-content: start;
        position: relative;
        left: -80px;
        img {
            width: 3rem;
            height: 3rem;
        }
        a {
            background-color: #019877;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            position: relative;
            left: 40px;
        }

        h6 {
            width: 15rem;
        }
        .content2 {
            margin-left: 50px;
            h6 {
                font-weight: bold;
                .nomber {
                    color: #019877;
                }
            }
            .star {
                i {
                    color: rgb(243, 243, 26);
                    margin-left: 0.6rem;
                    font-size: medium;
                }
            }
        }
    }
    .download-app {
        font-weight: bold;
    }
}

// responssive
// Small devices (landscape phones, 576px and up)
@media (min-width: 323px) and (max-width: 350.98px) {
    #price {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 2rem;
        span {
            background-color: #4cd964;
            position: absolute;
            width: 120px;
            z-index: 4;
            text-align: center;

            left: 140px;
            color: white;
            font-weight: bold;
            border-radius: 2px;
        }
    }
    .card-footer1 {
        display: flex;
        position: relative;
        top: -50px;
    }
    .purchase {
        position: relative;
        top: 35px;
    }
    #footer {
        position: relative;
        top: 30px;
        .card {
            background-color: #ecf3ff;

            .row {
                position: relative;
                top: 10px;
                display: flex;
                .right-side {
                    display: flex;
                    justify-content: end;
                }
                .im1 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    height: 30px;
                    width: 30px;
                    border-radius: 20px;
                    margin-top: 10px;
                }
                .im2 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    border-radius: 20px;
                    height: 30px;
                    width: 30px;
                    margin-left: 30px;
                    margin-top: 10px;
                }
            }
        }
        .content {
            display: flex;
            justify-content: start;
            position: relative;
            left: -80px;
            img {
                width: 3rem;
                height: 3rem;
            }

            a {
                background-color: #019877;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                position: relative;
                left: 50px;
                width: 4rem;
                margin-left: 4px;
            }

            h6 {
                width: 15rem;
            }
            .content2 {
                margin-left: 40px;
                h6 {
                    font-weight: bold;
                    font-size: small;
                    margin-left: 60px;
                    width: 200px;
                    .nomber {
                        color: #019877;
                    }
                }
                .star {
                    i {
                        color: rgb(243, 243, 26);
                        margin-left: 0.6rem;
                        font-size: medium;
                    }
                }
            }
        }
        .download-app {
            font-weight: bold;
            font-size: small;
            text-align: right;
            color: red;
            .downlo{
                display: none;
            }
        }
    }
}
@media (min-width: 350.98px) and (max-width: 360.98px) {
    #price {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 2rem;
        span {
            background-color: #4cd964;
            position: absolute;
            width: 120px;
            z-index: 4;
            text-align: center;

            left: 170px;
            color: white;
            font-weight: bold;
            border-radius: 2px;
        }
    }
    .card-footer1 {
        display: flex;
        position: relative;
        top: -50px;
    }
    .purchase {
        position: relative;
        top: 35px;
    }

    #footer {
        position: relative;
        top: 30px;
        .card {
            background-color: #ecf3ff;

            .row {
                position: relative;
                top: 10px;
                display: flex;
                .right-side {
                    display: flex;
                    justify-content: end;
                }
                .im1 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    height: 30px;
                    width: 30px;
                    border-radius: 20px;
                    margin-top: 10px;
                }
                .im2 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    border-radius: 20px;
                    height: 30px;
                    width: 30px;
                    margin-left: 3px;
                    margin-top: 10px;
                }
            }
        }
        .content {
            display: flex;
            justify-content: start;
            position: relative;
            left: -80px;
            img {
                width: 3rem;
                height: 3rem;
            }

            a {
                background-color: #019877;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                position: relative;
                left: 50px;
                width: 4rem;
                margin-left: 4px;
            }

            h6 {
                width: 15rem;
            }
            .content2 {
                margin-left: 40px;
                h6 {
                    font-weight: bold;
                    font-size: small;
                    margin-left: 60px;
                    width: 200px;
                    .nomber {
                        color: #019877;
                    }
                }
                .star {
                    i {
                        color: rgb(243, 243, 26);
                        margin-left: 0.6rem;
                        font-size: medium;
                    }
                }
            }
        }
        .download-app {
            font-weight: bold;
            font-size: small;
            text-align: left;
            margin-left: -120px;
            .downlo{
                display: none;
            }
        }
    }
}
@media (min-width: 360.98px) and (max-width: 400.98px) {
    #price {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 2rem;
        span {
            background-color: #4cd964;
            position: absolute;
            width: 120px;
            z-index: 4;
            text-align: center;

            left: 170px;
            color: white;
            font-weight: bold;
            border-radius: 2px;
        }
    }
    .card-footer1 {
        display: flex;
        position: relative;
        top: -50px;
    }
    .purchase {
        position: relative;
        top: 35px;
    }

    #footer {
        position: relative;
        top: 30px;
        .card {
            background-color: #ecf3ff;

            .row {
                position: relative;
                top: 10px;
                display: flex;
                .right-side {
                    display: flex;
                    justify-content: end;
                }
                .im1 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    height: 30px;
                    width: 30px;
                    border-radius: 20px;
                    margin-top: 10px;
                }
                .im2 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    border-radius: 20px;
                    height: 30px;
                    width: 30px;
                    margin-left: 3px;
                    margin-top: 10px;
                }
            }
        }
        .content {
            display: flex;
            justify-content: start;
            position: relative;
            left: -80px;
            img {
                width: 3rem;
                height: 3rem;
            }

            a {
                background-color: #019877;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                position: relative;
                left: 50px;
                width: 4rem;
                margin-left: 4px;
            }

            h6 {
                width: 15rem;
            }
            .content2 {
                margin-left: 40px;
                h6 {
                    font-weight: bold;
                    font-size: small;
                    margin-left: 60px;
                    width: 200px;
                    .nomber {
                        color: #019877;
                    }
                }
                .star {
                    i {
                        color: rgb(243, 243, 26);
                        margin-left: 0.6rem;
                        font-size: medium;
                    }
                }
            }
        }
        .download-app {
            font-weight: bold;
            font-size: small;
            text-align: left;
            margin-left: -120px;
            .downlo{
                display: none;
            }
        }
    }
}
@media (min-width: 400px) and (max-width: 457.98px) {
    #price {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 2rem;
        span {
            background-color: #4cd964;
            position: absolute;
            width: 120px;
            z-index: 4;
            text-align: center;

            left: 200px;
            color: white;
            font-weight: bold;
            border-radius: 2px;
        }
    }

    .card-footer1 {
        display: flex;
        position: relative;
        top: -50px;
    }
    .purchase {
        position: relative;
        top: 35px;
    }
    #footer {
        position: relative;
        top: 30px;
        .card {
            background-color: #ecf3ff;

            .row {
                position: relative;
                top: 10px;
                display: flex;
                .right-side {
                    display: flex;
                    justify-content: end;
                }
                .im1 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    height: 30px;
                    width: 30px;
                    border-radius: 20px;
                    margin-top: 10px;
                }
                .im2 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    border-radius: 20px;
                    height: 30px;
                    width: 30px;
                    margin-left: 3px;
                    margin-top: 10px;
                }
            }
        }
        .content {
            display: flex;
            justify-content: start;
            position: relative;
            left: -80px;
            img {
                width: 3rem;
                height: 3rem;
            }

            a {
                background-color: #019877;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                position: relative;
                left: 50px;
                width: 4rem;
                margin-left: 4px;
            }

            h6 {
                width: 15rem;
            }
            .content2 {
                margin-left: 40px;
                h6 {
                    font-weight: bold;
                    font-size: small;
                    margin-left: 60px;
                    width: 300px;
                    .nomber {
                        color: #019877;
                    }
                }
                .star {
                    i {
                        color: rgb(243, 243, 26);
                        margin-left: 0.6rem;
                        font-size: medium;
                    }
                }
            }
        }
        .download-app {
            font-weight: bold;
            font-size: small;
            text-align: left;
            margin-left: -120px;
            .downlo{
                display: none;
            }
        }
    }
}
@media (min-width: 457px) and (max-width: 1200px) {
    #price {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 2rem;
        span {
            background-color: #4cd964;
            position: absolute;
            width: 120px;
            z-index: 4;
            text-align: center;

            left: 266px;
            color: #fff;
            font-weight: bold;
            border-radius: 2px;
        }
    }
}

@media (min-width: 460px) and (max-width: 684px) {
    #footer {
        position: relative;
        top: 30px;
        .card {
            background-color: #ecf3ff;

            .row {
                position: relative;
                top: 10px;
                display: flex;
                .right-side {
                    display: flex;
                    justify-content: end;
                }
                .im1 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    height: 40px;
                    width: 40px;
                    border-radius: 20px;
                    margin-top: 10px;
                }
                .im2 {
                    width: 2rem;
                    margin-left: 8px;
                    border: 1px solid black;
                    border-radius: 20px;
                    height: 40px;
                    width: 40px;
                    margin-left: 20px;
                    margin-top: 10px;
                }
            }
        }
        .content {
            display: flex;
            justify-content: start;
            position: relative;
            left: -80px;
            img {
                width: 3rem;
                height: 3rem;
            }

            a {
                background-color: #019877;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                position: relative;
                left: 50px;
                width: 4rem;
                margin-left: 4px;
            }

            h6 {
                width: 15rem;
            }
            .content2 {
                margin-left: 40px;
                h6 {
                    font-weight: bold;
                    font-size: small;
                    margin-left: 60px;
                    width: 400px;
                  
                    .nomber {
                        color: #019877;
                        width: 100%;
                        
                    }
                }
                .star {
                    i {
                        color: rgb(243, 243, 26);
                        margin-left: 0.6rem;
                        font-size: medium;
                    }
                }
            }
        }
        .download-app {
            font-weight: bold;
            font-size: small;
            text-align: left;
            margin-left: -120px;
            .downlo{
                display: none;
            }
        }
    }
}
@media (min-width: 1200px) {
    #price {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 2rem;
        span {
            background-color: #4cd964;
            position: absolute;
            width: 120px;
            z-index: 4;
            text-align: center;

            left: 266px;
            color: #fff;
            font-weight: bold;
            border-radius: 2px;
        }
    }
    #footer {
        display: none;
    }
}
@media (min-width: 862px) {
    #footer {
        display: none;
    }
}
