<div class="container" id="container">
    <header>
        <div class="avatar">
            <img src="assets\ex-product\1.jpeg" class="avatar" alt="" title="Kiramart Shop">
        </div>
        <div class="title-description">
            <h1 class="title">
                <h1>MR PRICE</h1>
            </h1>
            <div class="description">
                <p>
                    Hey fam, if you’ve ever wanted to model for Mr Price, we’ve got the lowdown right here!
                </p>
            </div>
        </div>
    </header>
    <div class="social-media">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button type="button" class="btn btn-primary"><i class="bi bi-whatsapp"></i></button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-facebook"></i>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-instagram"></i>
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div id="card-section">
        <div class="text-center card gene-card">
            <ul class="list-group">
                <li class="list-group-item  animate__animated animate__pulse animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\3.jpeg" alt="">
                        <div id="price">
                            <span class="price">{{ productAmount}} GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col get purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button (click)='rduceProductAmount()' type="button"
                                                    class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">{{productQuantity}}</h6>
                                            </div>
                                            <div class="col">
                                                <button (click)='cputeProductAmount()' type="button"
                                                    class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item animate__animated animate__shakeX animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\2.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item animate__animated animate__shakeY animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\3.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item animate__animated animate__headShake animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\4.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item animate__animated animate__headShake animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\5.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item animate__animated animate__headShake animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\6.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item animate__animated animate__headShake animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\7.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item animate__animated animate__headShake animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\8.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item animate__animated animate__headShake animate__infinite animate__slow 2s ">
                    <div class="card">
                        <img src="assets\ex-product\9.jpeg" alt="">
                        <div id="price">
                            <span class="price">1200.00 GHC</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="list-group-item animate__animated animate__headShake animate__infinite animate__slow 2s ">
                    <div class="card">
                        <div class="embed-responsive ">
                            <iframe width="100%" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" frameborder="0"
                                allowfullscreen>
                            </iframe>
                            <div id="price">
                                <span class="price">1200.00 GHC</span>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Buy and sell fast in Ghana and everywherew
                            </h5>
                        </div>
                        <div class="general-card">
                            <div class="container">
                                <div class="row">
                                    <div class="col purchase">
                                        <button class="btn card-footer card-footer2 " type="button">
                                            PURCHASE NOW
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="card-footer card-footer1 col-4">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon1">
                                                    <i class="bi bi-dash"></i>
                                                </button>
                                            </div>
                                            <div class="col">
                                                <h6 class="article-number">1</h6>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary btn-secon2">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<footer id="footer">
    <div class="card">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-6 content">
                        <div class="col-3">
                            <a class="btn " href="#" role="button">
                                <img src="assets\footer\logo transparence.png" alt="">
                            </a>
                        </div>
                        <div class="col-3 content2">
                            <h6>Used by <span class="nomber">1,253 merchands</span></h6>
                            <h6 class="star">
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                            </h6>
                        </div>
                    </div>
                    <div class="col-6 right-side">
                        <h6 class="download-app">
                            <span class="downlo">Download App </span>
                            <span>
                                <a href="https://play.google.com/store/apps/details?id=co.noworri.noworri&hl=fr&gl=US">
                                    <img class="im1" src="assets\footer\android icon.png" alt=""></a>
                            </span>
                            <span>
                                <a
                                    href="https://play.google.com/store/apps/details?id=co.noworri.noworri&hl=fr&gl=US"><img
                                        class="im2" src="assets\footer\apple icon.png" alt=""></a></span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>